<div class="md-master-embed md-master-embed--supplier" data-md-modal-title="{% if show_form %}{% if form.id %}Edit Supplier{% else %}Add Supplier{% endif %}{% else %}Supplier Master{% endif %}">
  {% if not show_form %}
  <div class="md-master-embed-toolbar">
    <div class="md-master-embed-actions">
      <a class="btn btn-primary" href="{{ supplier_report_url }}" download>Supplier Report</a>
      <a class="btn btn-primary" href="{{ url_for('supplier_master', focus='form', embed=1) }}">Add supplier</a>
    </div>
  </div>
  {% endif %}
  {% include 'partials/supplier_master_body.html' %}
</div>
